@use "../../presets" as *;

.footer-top {
}

.footer-container {
  width: $container-size;
  margin-inline: auto;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


.footer-navbar {
  margin-top: 34px;

  &__list {
    padding: 0;
  }
}

.footer-bottom {
  height: 110px;
}

.footer-copyright {
  font-family: $font-subtext;
  font-weight: 400;
  font-size: 0.875rem;
  color: $color-gray-dark;
  margin-top: 30px;

  &::after {
    position: absolute;
    right: 0;
    content: "Created by Oleh Milyo";
  }
}


.footer-fb-icon {
  background-image: url(../assets/img/facebook-footer-icon.svg);
  transition: 0.5s;

  &:hover {
    background-image: url(../assets/img/facebook-footer-icon-hover.svg);
  }
}
.footer-twitter-icon {
  background-image: url(../assets/img/twitter-footer-icon.svg);
  transition: 0.5s;

  &:hover {
    background-image: url(../assets/img/twitter-footer-icon-hover.svg);
  }
}
.footer-pinterest-icon {
  background-image: url(../assets/img/pinterest-footer-icon.svg);
  transition: 0.5s;

  &:hover {
    background-image: url(../assets/img/pinterest-footer-icon-hover.svg);
  }
}
.footer-google-icon {
  background-image: url(../assets/img/google-footer-icon.svg);
  transition: 0.5s;

  &:hover {
    background-image: url(../assets/img/google-footer-icon-hover.svg);
  }
}
.footer-behance-icon {
  background-image: url(../assets/img/behance-footer-icon.svg);
  transition: 0.5s;

  &:hover {
    background-image: url(../assets/img/behance-footer-icon-hover.svg);
  }
}
.footer-inst-icon {
  background-image: url(../assets/img/instagram-footer-icon.svg);
  transition: 0.5s;

  &:hover {
    background-image: url(../assets/img/instagram-footer-icon-hover.svg);
  }
}