@use "../../presets" as *;

.instagram-line {
}

.instagram {

  &__title {
    text-align: center;
    font-family: $font-main;
    font-size: 1.5rem;
    font-weight: 400;
    color: $color-dark;

    margin-top: 21px;
  }
  &__wrap {
    display: flex;
    gap: 20px;
    padding: 0 20px;
    margin-top: 42px;
    margin-bottom: 98px;
  }
  &__item {
    width: calc( (100% - 100px) / 6 );

    a {
      transition: 0.3s;

      &:hover {
        opacity: 0.86;
      }
    }
    img {
      width: 100%;
    }
  }
}
