@use "../../presets" as *;

.header-logo {

  &__link {
    position: relative;
    color: $color-dark;
    font-size: 1.5625rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 112px;
      height: 5px;
      background-color: $color-accent;
      opacity: 0.35;
      transform: translateY(-8px);
      z-index: -2;
    }
  }
}