@use "../../presets" as *;

.header-menu {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: $color-white;
  z-index: 50;
}
.header-menu__container {
  width: min(100% - $gap-x8, 1760px);
  margin-inline: auto;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}